body {
          /* background-image: url("th.jpg"); */
        /* background-image: url("im1.jpg"); */
        /* background-image: url("im2.jpg"); */
        /* background-image: url("im3.jpg"); */
        background-image: url("im4.jpg");

        /* background-image: url("im2.jpg"); */
        background-attachment: fixed;
        /* background-size: cover; ssss
         background-repeat: no-repeat; 
        background-position: center; */
      }
      .container {
        display: inline-block;
        text-align: center; /* Center-align the text below the image */
        margin: 10px;
        vertical-align: top; /* Align the containers to the top */
      }
      .container img {
        display: block;
        width: 300px; /* Adjust the width as needed */
        height: auto;
      }
      .container span {
        display: block; /* Ensure the text appears below the image */
        margin-top: 5px; /* Add some space between the image and the text */
        color: black;
      }
      /* .container span:hover {
        color: white;
      } */
      .container a:hover {
        color: rgb(255, 0, 0);
      }
      .container a:active {
        color: rgb(255, 255, 255);
      }
       h1{
        color: #000000;
      }
      .container h3{
        color: #ffffff;
      }
      footer h3{
        text-align: center;
        color: rgb(255, 255, 255);
      }
    button{
        text-align: center;
    }
    h2 {
        color: white;
    }
    #connect {
            display: flex;
            /* flex-direction: column; */
            justify-content: center;
            align-items: center;
            /* height: 100vh; */
        }